<div class="contenedor-principal">
  <nav>
    <ul>
      <li routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
      <li routerLinkActive="activo"><a routerLink="/listado">Listado</a></li>
      <li routerLinkActive="activo"><a routerLink="/alta">Alta</a></li>
      <li routerLinkActive="activo"><a routerLink="/ayuda">Ayuda</a></li>
    </ul>
    <span class="userLogin" *ngIf="! seguridadService.estaAutenticado(); else logout">
      <a routerLink="/login" routerLinkActive="activo">Login</a> | 
      <a routerLink="/registro" routerLinkActive="activo">Registro</a> 
    </span>
    <ng-template  #logout>
      <span class="userLogin">
        <a class="pointer" (click)="onLogout()">Cerrar sesión</a>
      </span>
    </ng-template>
  </nav>
  <router-outlet></router-outlet>
</div>
